<!DOCTYPE html>
<html>
<style>
body {
  background-color: #ffff70;
  max-width: 500px;
  margin: auto;
  align-items: center;
	justify-content: center;
	text-align: center;
  color: black;
}
</style>
<body>

<img src="https://image.flaticon.com/icons/svg/1596/1596833.svg" height="50" width="50">

<h1> Congratulations <%= session[:username] %> you signed up for Chitter! <h1>

<h2> Let's get tweeting...sorry peeping...</h2>

<form action="/chitter">
    <input type="submit" value="Back to Chitter" />
</form>

</body>
</html>