<!DOCTYPE html>
<html>
<style>
body {
    
    background-color: #ffff70;
  max-width: 500px;
  margin: auto;
}

</style>
<form action="/chitter/signup">
    <input type="submit" value="Sign Up Here" />
</form>
<body>
<h1> Welcome to Chitter!!! <h1>
<h1> THE TWITTER CLONE THAT SHOUTS ALL ITS THOUGHTS AT YOU </h1> 
<h6> ...because thats what all cockatoos do to me in the morning <h6>

<img src="https://image.flaticon.com/icons/svg/1596/1596833.svg">

<form action="/chitter/view">
    <input type="submit" value="See Who's Peeping" />
</form>
<br>
<form action="/chitter/post">
    <input type="submit" value="Scream at Someone" />
</form>

</body>