<!DOCTYPE html>
<html>
<style>
body {
  background-color: #ffff70;
  max-width: 500px;
  margin: auto;
  align-items: center;
	justify-content: center;
	text-align: center;
  color: black;
}
</style>

<img src="https://image.flaticon.com/icons/svg/1596/1596833.svg" height="50" width="50">

<h1> Let's Post A Peep </h1>

<form action="/chitter"  method='post'>
  <h4> What You Gona Say?: </h4> 
  <input style="height:100px;font-size:14pt" type="text" name="peep" placeholder="What we SCREAMING?" required>
  <br>
  <h4> Whats Your User ID? </h4>
  <input style="font-size:14pt" type="text" name=user_id placeholder="Remember its a number" required>
  <br><br>
  <input type="submit" value="Submit">
</form> 

