<!DOCTYPE html>
<html>
<style>
body {
  background-color: #ffff70;
  max-width: 500px;
  margin: auto;
  align-items: center;
	justify-content: center;
	text-align: center;
  color: black;
}
</style>
<body>
<img src="https://image.flaticon.com/icons/svg/1596/1596833.svg" height="50" width="50">

<h2>Let's Sign You Up For Chitter!</h2>

<form action="/chitter/congratulations"  method='post'>
  Email:<br>
  <input type="text" name="email" placeholder="Enter Url" required>
  <br>
  Username:<br>
  <input type="text" name="username" placeholder="Enter a Username" required>
  <br>
  Your Full Name:<br>
  <input type="text" name="realname" placeholder="Enter Url" required>
  <br>
  Password:<br>
  <input type="text" name="passwrd" placeholder="Enter a Password" required>
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
